<div layout="column">

  <!-- top toolbar -->
  <md-toolbar>
    <div class="md-toolbar-tools">

      <h2 flex md-truncate>Toolbar</h2>

      <md-button class="md-icon-button" aria-label="Button" ng-click="toolbarButton()">
        <md-icon md-svg-icon="img/ic_more_vert_18px.svg"></md-icon>
      </md-button>

    </div>
  </md-toolbar> <!-- top toolbar -->

  <!-- main content -->
  <div layout="row">

    <md-content>

      {{file}}

    </md-content>

  

  </div>  <!-- main content -->

</div>
